@import "/src/style/variables.scss";
.nav-bar {
  width: 90%;
  margin: 0 auto;
  max-width: $max-width;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  .logo span {
    display: block;
    &:first-child {
      letter-spacing: 10px;
      font-size: bold;
      font-size: 2rem;
    }
    &:last-child {
      font-size: 1.1rem;
      letter-spacing: 2px;
    }
  }

  .extra-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      color: rgb(40, 40, 40);
      background-color: transparent;
      height: 30.4px;
      margin: 0 15px;
      padding: 0;
      cursor: pointer;
      a {
        font-size: 1rem;
        color: black;
      }
      &.auth {
        font-size: 2rem;
      }
      &.lang {
        font-size: 1rem;
        z-index: 9;
        svg {
          font-size: 2rem;
          vertical-align: middle;
          margin-left: -7px;
        }
        ul {
          background-color: white;
          overflow: hidden;
          margin: 0;
          padding: 0;
          transition: max-height 0.5s;
          li {
            padding: 7px;
            cursor: pointer;
            position: relative;
            &::after {
              content: "";
              transition: width 0.5s;
              width: 0;
              height: 1px;
              background-color: black;
              position: absolute;
              bottom: 0;
              left: 0;
            }
            &:hover::after {
              width: 100%;
            }
          }
          &.droped-down {
            max-height: 80px;
          }
          &.drop-down {
            max-height: 0px;
          }
        }
      }
      &.cart {
        font-size: 1rem;
        svg {
          font-size: 1.7rem;
        }
      }
    }
  }
  .search-place {
    input {
      width: 300px;
      font-size: 1rem;
      padding: 5px 5px;
      border-bottom: 1px solid black;
      background-color: rgb(243, 243, 243);
    }
    .search-button {
      border: 1px solid rgb(171, 171, 171);
      border-radius: 0 5px 5px 0;
      width: 40px;
      height: 32px;
      cursor: pointer;
      background-color: rgb(243, 243, 243);
    }
  }
  .left-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      color: rgb(47, 47, 47);
    }
    .login-signup {
      margin: 0 30px;
    }
    select.category-list {
      height: 35px;
      font-size: 1rem;
      cursor: pointer;
      border: none;
      text-transform: capitalize;
    }
  }
}
@media screen and (max-width: 1000px) {
  .nav-bar {
    .logo {
      span {
        &:first-child {
          letter-spacing: 10px;
          font-size: bold;
          font-size: 1.5rem;
        }
        &:last-child {
          font-size: 1rem;
          letter-spacing: 1px;
        }
      }
    }
  }
}
