@import "/src/style/variables.scss";
.nav-bar {
  width: 90%;
  margin: 0 auto;
  max-width: $max-width;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  .logo span {
    display: block;
    &:first-child {
      letter-spacing: 10px;
      font-size: bold;
      font-size: 2rem;
    }
    &:last-child {
      font-size: 1.1rem;
      letter-spacing: 2px;
    }
  }

  .auth-cart {
    width: 70%;
    max-width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      color: rgb(40, 40, 40);
      background-color: transparent;
      height: 30.4px;
      margin: 0;
      padding: 0;
      cursor: pointer;
      &.auth {
        font-size: 2rem;
      }
      &.lang{
        font-size:1rem;
        svg{
          font-size: 2rem;
          vertical-align:middle;
          margin-left: -7px;
        }
        ul{
          background-color: white;
          overflow: hidden;
          margin: 0;
          padding: 0;
          transition: max-height 0.5s;
          li{
            padding:7px;
            cursor: pointer; 
            position: relative;
            &::after{
              content: '';
              transition: width 0.5s;
              width: 0;
              height: 1px;
              background-color: black;
              position: absolute;
              bottom: 0;
              left: 0;
            }  
            &:hover::after{
              width: 100%;
            }         
          }
          &.droped-down{
            max-height:80px;
          }
          &.drop-down{
            max-height: 0px;
          }
        }
      }
      &.cart {
        font-size: 1.7rem;

        svg {
          display: inline;
          vertical-align: middle;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .nav-bar {
    .logo span {
      display: block;
      &:first-child {
        letter-spacing: 10px;
        font-size: bold;
        font-size: 1.5rem;
      }
      &:last-child {
        font-size: 1rem;
        letter-spacing: 1px;
      }
    }
    .search-bar {
      width: 50%;
      input {
        max-height: 0px;
        top: 0;
        border: none;
        &:focus {
          width: auto;
          top: 60px;
          left: 0;
          right: 0;
          max-height: 40px;
          border: 1px solid rgb(177, 177, 177);
          position: fixed;
        }
        &:focus ~ label {
          display: none;
        }
      }
    }
  }
}
