@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@300&display=swap");

// ========== SIZES
$primary-width: 90%;
$max-width: 1400px;

// ========== COLORS
$primary-black: #383838;
