@import "/src/style/variables.scss";
.footer {
  width: 90%;
  max-width: $max-width;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  div {
    margin: 0 5px;
    max-width: 200px;
    font-family: "Noto Sans Georgian", sans-serif;
    a {
      color: black;
      text-decoration: none;

      &:hover {
        color: rgb(124, 177, 177);
      }
    }
  }
  hr {
    margin: 0;
    width: 100px;
    height: 1px;
    background-color: rgb(60, 60, 60);
  }
}
